@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #0b7f9b;
$tertiary_color: #0a4456;
$background: #f2f2f2;
$border: #5d5d5d;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to3 {
		.searchform {
			label {
				display: none;
			}
			[type=text] {
				margin: 0;
				background: {
					image: url(moduletable_to3_input_bg.png);
					position: left;
					repeat: no-repeat;
				}
				border: 0;
				border-bottom: 1px solid $border;
				border-radius: 0;
				box-shadow: none;
			}
			[type=submit] {
				display: none;
			}
		}
	}
}

/* Banner */

.banner {
	background: linear-gradient($background 50%, transparent 50%);
	.moduletable_ba1 {
		padding: 20px 0;
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		font: {
			size: 20px;
			weight: bold;
		}
		color: $tertiary_color;
	}
	h2 {
		font: {
			size: 20px;
			weight: bold;
		}
		color: $tertiary_color;
	}
	h3 {
		font: {
			size: 20px;
			weight: bold;
		}
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	.logos {
		img {
			/*max-width: 240px;*/
			/*max-height: 80px;*/
		}
	}
	nav.bellows {
		background-color: transparent;
		box-shadow: none;
		li {
			a {
				padding: 10px 15px !important;
				border-bottom: 1px solid $secondary_color !important;
				color: $secondary_color !important;
				&:hover {
					background-color: $secondary_color !important;
					color: #fff !important;
				}
			}
		}
	}
	.bellows.bellows-skin-blue-material .bellows-nav .bellows-item-level-0.bellows-current-menu-item > .bellows-target, .bellows.bellows-skin-blue-material .bellows-nav .bellows-item-level-0.bellows-current-menu-ancestor > .bellows-target {
		background-color: $secondary_color !important;
		color: #fff !important;
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 20px 0;
	.moduletable_b11 {
		#a {
			h2 {
				margin: 0;
				padding-bottom: 10px;
				background: {
					image: url(block_1_h2_bg.png);
					position: bottom;
					repeat: no-repeat;
				}
				font: {
					size: 20px;
					weight: bold;
				}
				color: $tertiary_color;
			}
		}
		#b {
			color: #fff;
			h3 {
				margin: 0;
				font: {
					size: 20px;
					weight: bold;
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 20px 0;
	background-color: $background;
	.moduletable_b21 {
		strong {
			color: $tertiary_color;
		}
		a {
			color: $primary_color;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 20px 0;
	.moduletable_b31 {
		strong {
			color: $tertiary_color;
		}
		a {
			color: $primary_color;
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 20px 0;
	background-color: $background;
	.moduletable_b41 {
		p {
			margin: 0;
		}
		a {
			margin: 0 10px;
			display: inline-block;
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	background-color: $tertiary_color;
	.moduletable_bo1 {
		color: #fff;
		p {
			margin: 0;
		}
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	background-color: $tertiary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Logos */

.moduletable_lo1 {
	top: 20%;
	left: 0;
	position: fixed;
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Logos */

	.moduletable_lo1 {
		display: none;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}